@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#cd770e;
    --black:#13131a;
    --bg:#000000;
    --border: .1rem solid rgba(255,255,255,.3);
}



*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: name;
    text-decoration : none;
    text-transform: capitalize;
    transition: .2s Linear;
}

html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width; .8rem;

}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg); 
}
section{
    padding:.2rem 1%;
}

.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}


/* add to cart ka checkout buttton hai bhaii */
.btn{
    margin-top: 1.5rem;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 2rem;
    color: black;
    background: var(--main-color);
    border-radius: 5rem;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .1rem;

}

.header .cart-items-container .btn{
    width:100%;
    text-align: center;
}
/* checkout button end detail upper */
.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

/* header sectin start from here */


/* logo hai bhaii project ka samja */

.header .logo img{
    height: 8rem;
}
/* navigation bars ke detail haiii shivam bhaiii 2 din hogaye project banate ?? */

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color:#fff;
}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);

}
/* menu buttons ko disable kar diya haii*/

#menu-btn{
    display: none;
}

/* search box ke detail */

.header .search-form{
    position: absolute;
    top: 110%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

/*search button ko yaha se active karte haii */

.header .search-form.active{
    transform: scaleY(1);  
}

.header .search-form{
    width: 40%;
    right: 3rem;
}

/* search bar ke buttun upar wale code se disable hota haii */

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}
.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.8rem;
    color:var(--black);

}
.header .search-form label:hover{
    color:var(--main-color);
}
/* cart-item ke css ka haii */

.header .cart-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding:0 5.5rem;

}

/* search button ka detail upar khatam hua */


/* cart button ko active kar diya haii7 yaha se disable krte haii */

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap:1.2rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);

}
/* add to cart ka ye image ka up down hai bhaii */

.header .cart-items-container .cart-item .fa-times:hover{
    color: var(--main-color);
}
.header .cart-items-container .cart-item img{
    height: 12rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 1.6rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.6rem;
    color:var(--main-color);
}

/* lgin form ke detail*/



/* home pe center image ka code */

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(10\ hom.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home.content{
    max-width: 60rem;

}

.home .content h3{
    font-size: 3rem;
    text-transform: uppercase;
    color:maroon;

}

/*about us ke detail font image*/ 

.About .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;

}

.About .row .image{
    flex: 1 1 45rem;
}

.About .row .image img{
    width: 100%;
}

.About .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.About .row .content h3{
    font-size: 3rem;
    color: var(--main-color);
}

.About .row .content p{
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8;
}

.About .row .content ol{
    font-size: 1.5rem;
    color: #fff;
}

/*menu ke details hai bhai yaha par*/

.Menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    gap: 2.9rem;
    
}

.Menu .box-container .box {
    padding: 2rem;
    text-align: center;
    border: var(--border);
}

.Menu .box-container .box img{
    height: 16rem;

}

.Menu .box-container .box h3{
    color:var(--main-color);
    font-size: 2rem;
    padding: .6rem 0;

}


.Menu .box-container .box  .price{
    color:#fff;
    font-size: 1.6rem;
    padding: 1rem 0;

}

.Menu .box-container .box .price span{
    color: var(--main-color);
    font-size: 1.4rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.Menu .box-container .box:hover{
    background: wheat;

}

.Menu .box-container .box:hover > *{
    color: var(--black);

}

/* product cart ke detail hai bhaii yaha par*/


.Products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, .4fr));
    gap: 2.6rem;
    
}

.Products .box-container .box{
    text-align: center;
    border: var(--border);
    padding: .6rem;
    
}

.Products .box-container .box .icons a{
height: 3.5rem;
width: 3.5rem;
line-height: 3.5rem;
font-size: 2rem;
border: var(--border);
color: #fff;
margin: 3rem;
}

.Products .box-container .box .icons a:hover{
    background: var(--main-color);

}

.Products .box-container .box .image{
    padding: 1.6rem 0;
}

.Products .box-container .box .image img{
    height: 17rem;

}

.Products .box-container .box .content h3{
    color: #fff;
    font-size: 2rem;
}
.Products .box-container .box .content .stars{
    padding: 1.5rem;
}

.Products .box-container .box .content .stars i{
 font-size: 1.5rem;
 color:orange;
}
.Products .box-container .box .content .price{
    color:#fff;
    font-size: 1.6rem;
}

.Products .box-container .box .content .price span{
    text-decoration: line-through;
font-weight: lighter;
font-size: 1.4rem;
}

/* product ke detail end */


/*review start from here */

.Review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
}

.Review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.Review .box-container .box p{
    font-size: 1.4rem;
    line-height: 1.8;
    color:#ccc;
    padding: 2rem 0;
    
}

.Review .box-container .box .User{
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    object-fit: cover;

}

.Review .box-container .box h3{
 padding: .2rem 0;
 font-size: 1.5rem;
 color: #fff;
}

.Review .box-container .box .stars i{
    font-size: 1.4rem;
    color:var(--main-color);

   }
   
   /* review ke detail end */


   /* contact ke deatil strart from here*/

.contact .row{
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;

}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;


}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputbox{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background: var(--bg);
    border: var(--border);
}

.contact .row form .inputbox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}
 
.contact .row form .inputbox input{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: #fff;
    text-transform: none;
    background: none;
}

/* footer secton star detail like crerated by wala */

.footer{
    background: var(--bkack);
    text-align: center;

}

.footer .share{
    padding: 1rem 0; 
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size:2rem;
    color: #fff;
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}
.footer .share a:hover{
    background-color: var(--main-color);
}    
.footer .link{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .link a{
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 1.7rem;

}
.footer .link a:hover{
    background-color: var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span{
    color:var(--main-color)
}

/* Media quaries*/

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding:1.5rem 2rem;
    }
/* home image ka section */

    section{
        padding:2rem;
    }
} 

/* navbar ke deatail yaha par bhi haiiaa */

@media (max-width:770px){
    #menu-btn{
        display: inline-block;
    }    

.header .navbar{
    position: absolute;
    top:100%; right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
   }
 /* navigation bar active buttons */

.header .navbar.active{
    right:0;
}


.header .navbar a{
    color: var(--black);
    display: block;
    margin:1.5rem;
    padding:.5rem;
    font-size: 2rem;
   }

}
.home{
    background-position:left;
    justify-content: left;
    text-align: center;
}

.home.content h3{
    font-size: 3.5rem;
}



@media (max-width:450px){
    html{
        font-size: 50%;
    }
    
} 
.login
{
    display: flex;
 border-radius: 15px;
 font-size: 3rem;
 color:white;
}










